docs/source
2023/aoc/data
input.txt
desc.txt

 Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
.pdm.toml
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.envrc

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
